#mainmenu {
    background: rgb(134, 134, 134);
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 0px;
}

#mainmenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 40px
}

#mainmenu ul li {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}

#mainmenu ul li a {
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}

#mainmenu ul li a:hover {
    background-color: rgba(202, 0, 0, 0.6);
}